<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ナビオちゃん2</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<form method="post" action="#" th:action="@{/forum/complete}" th:object="${comment}">
	<label for="name">お名前</label>
	<input id="name" name="name" type="text"><br>
	<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
	<label for="contents">コメント</label>
	<textarea name="body" id="body" rows="5" cols="70"></textarea><br>
	<div th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div>
	<input type="submit" value="投稿">
</form>
</body>
</html>